@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--max-width: 600px;

	--bg-translated-section: #28293b;

	--contrast-color: #6686e1;
	--bg-translated-card: #2c3042;

	--contrast-color-pulse: #475e9d;
	--bg-translated-card-pulse: #404660;

	--contrast-color-alt-1: #e16686;
	--contrast-color-alt-2: #66e182;
	--contrast-color-alt-3: #e1c166;
}

body {
	display: grid;
	place-items: center;
}

@keyframes slide-up {
	0% {
		transform: translateY(100%);
	}
	15% {
		transform: translateY(0);
	}

	70% {
		transform: translateY(0);
	}

	100% {
		transform: translateY(150%);
		display: none;
	}
}

.animate-slide-up {
	animation: slide-up ease-out 5s forwards;
}
