@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--max-width: 600px;

	--bg-translated-section: #28293b;

	--contrast-color: #6686e1;
	--contrast-color-hover: #7994de;

	--bg-translated-card: #2c3042;

	--contrast-color-pulse: #475e9d;
	--bg-translated-card-pulse: #404660;

	--contrast-color-record: #475e9d64;
}

body {
	display: grid;
	place-items: center;
}

@keyframes slide-up {
	0% {
		transform: translateY(100%);
	}
	15% {
		transform: translateY(0);
	}

	70% {
		transform: translateY(0);
	}

	100% {
		transform: translateY(150%);
		display: none;
	}
}

.animate-slide-up {
	animation: slide-up ease-out 5s forwards;
}

@keyframes record-pulse {
	0% {
		transform: scale(70%);
	}

	50% {
		transform: scale(120%);
	}

	100% {
		transform: scale(70%);
	}
}

.animate-record-pulse-1 {
	animation: record-pulse linear 1.5s infinite;
}

.animate-record-pulse-2 {
	animation: record-pulse linear 2.2s infinite;
}
